#competences {
    background-color: var(--bgc);
    max-width: 100%;
    padding: 5rem 1.25rem;
}

.technos-container {
    max-width: 75rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    padding: 1.25rem;
    margin: 0 auto;
}

.technos-container > figure {
    background-color: #fff;
    border-radius: .9375rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 17.6rem;
    min-width: 14.375rem;
    width: 100%;
    padding: .9375rem 0;
    flex-basis: 30%;
    flex-grow: 1;
    box-shadow: .125rem .25rem .5rem var(--shadow);
    transition: 250ms;
}

.technos-container > figure > figcaption > h3 {
    text-transform: uppercase;
    font-size: 1rem;
}

.technos-container > figure:hover {
    box-shadow: .1875rem .3125rem .5625rem #cccccc;
}

@media screen and (max-width: 23.4375rem){
    .technos-container {
        padding: 0;
    }
    .technos-container > figure {
        max-width: 100%;
        padding: .9375rem 0;
    }
}