@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import 'navigation.css';
@import 'accueil.css';
@import 'apropos.css';
@import 'competences.css';
@import 'portfolio.css';
@import 'contact.css';
@import 'footer.css';

@import 'animations.css';

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --hover: #D09483;
    --fontColor: #666666;
    --bgc: rgba(255, 237, 232, .4);
    --shadow: #dddddd
}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: var(--fontColor);
    font-weight: 500;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--hover);
    border: none;
    border-radius: 3.125rem;
    padding: .625rem 1.875rem;
    cursor: pointer;
    transition: 250ms;
}

button > a {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background-color: #FF6C60;
}

h2 {
    font-size: 1.875rem;
    text-transform: capitalize;
    font-weight: 400;
    position: relative;
}

section {
    margin-top: 3.4375rem;
}

.section {
    margin: 5rem auto;
    text-align: center;
    max-width: 75rem;
}

h2 > span {
    font-size: 4.375rem;
    text-transform: uppercase;
    opacity: 0.05;
    position: absolute;
    top: -1.875rem;
    left: 0;
    right: 0;
    letter-spacing: .5rem;
    transition: 250ms;
}

.separation-line {
    background: var(--fontColor);
    width: 3.4375rem;
    height: .125rem;
    border-radius: .3125rem;
    margin: 2.1875rem auto;
}

ul li {
    list-style: none;
}

@media screen and (max-width: 59.9375rem){
    .section > h2 > span {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 23.4375rem){
    button {
        font-size: .9375rem;
        padding: .5rem 1.5625rem;
    }

    h2 {
        font-size: 1.5625rem;
    }

    h2 > span {
        font-size: 1.875rem;
        opacity: .08;
        top: -1.4375rem;
        left: -3.125rem;
        letter-spacing: .375rem;
    }
}
